sudo: required
language: python
python:
  - "3.5"
  - "3.6"
services:
  - docker
cache:
  - pip
install:
  - pip install -r requirements.txt
  - pip install -U flake8
  - python setup.py install
  - sudo npm install
before_script:
  - docker pull redis:4.0
  - docker pull askomics/virtuoso
  - sudo docker run -d --name virtuoso -p 127.0.0.1:8890:8890 -p 127.0.0.1:1111:1111  -e DBA_PASSWORD=dba -e SPARQL_UPDATE=true -e DEFAULT_GRAPH=http://localhost:8890/DAV --net="host" -t askomics/virtuoso
  - sudo docker run -d --name redis --net="host" -t redis:4.0
  - sleep 1m
script:
  - flake8 askomics tests --ignore=E501,W504
  - ./node_modules/.bin/eslint "askomics/react/src/**"
  - pytest --cov=. -vv --log-cli-level debug
after_success:
  coveralls
