[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "*"
flask = "<3"
validate-email = "*"
gunicorn = "*"
python-magic = "*"
rdflib = "*"
sparqlwrapper = "*"
requests = "*"
celery = "*"
redis = "*"
watchdog = "*"
gitpython = "*"
biopython = "==1.81"
bcbio-gff = "==0.7.0"
bioblend = "*"
pysam = "*"
pybedtools = "*"
deepdiff = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
configparser = "*"
tld = "*"
argh = "*"
python-ldap = "*"
python-dateutil = "*"
markupsafe = "*"

[dev-packages]
pytest = "*"
pytest-cov ="*"
coveralls = "*"
flake8 = "*"
mkdocs = "*"
