[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "==0.16.1"
flask = "<2"
flask-reverse-proxy-fix = "*"
validate-email = "*"
gunicorn = "*"
python-magic = "*"
rdflib = "*"
sparqlwrapper = "*"
requests = "*"
celery = "==5.0.5"
redis = "*"
watchdog = "*"
gitpython = "*"
biopython = "*"
bcbio-gff = "*"
bioblend = "*"
pysam = "*"
pybedtools = "*"
deepdiff = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
configparser = "*"
tld = "*"
argh = "*"
python-ldap = "*"
python-dateutil = "*"
markupsafe = "==2.0.1"

[dev-packages]
pytest = "*"
pytest-cov ="*"
coveralls = "*"
flake8 = "*"
mkdocs = "*"
