[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "==0.16.1"
flask = "*"
flask-reverse-proxy-fix = "*"
validate-email = "*"
gunicorn = "*"
python-magic = "*"
rdflib = "*"
sparqlwrapper = "*"
requests = "*"
celery = "*"
redis = "*"
watchdog = "*"
gitpython = "*"
biopython = "*"
bcbio-gff = "*"
bioblend = "*"
pysam = "==0.15.3"
pybedtools = "*"
deepdiff = "*"
sentry-sdk = "*"
configparser = "*"
tld = "*"
argh = "*"
python-ldap = "*"

[dev-packages]
pytest = "*"
pytest-cov ="*"
coveralls = "*"
flake8 = "*"
mkdocs = "*"
