Flask
Flask-ini
flask_reverse_proxy_fix
validate_email
gunicorn
python-magic
rdflib
SPARQLWrapper
requests
celery
redis
watchdog
pytest>=3.6
pytest-cov
coveralls
flake8
gitpython
biopython
bcbio-gff
bioblend
pybedtools
deepdiff
sentry-sdk[flask]==0.10.2
configparser
