.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #343a40;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255,255,255,.75);
}

.footer-right {
  float: right;
}

i.inactive {
  color: #b3b3b3;
}

.footer-left {
  float: left;
}

.right {
  float: right;
}

.visibility-icon {
  padding-right: 5px;
}

.center {
  position:absolute;
  top:50%;
  left:50%; 
}

.asko-table-div {
  width: auto;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 350px;
}

.asko-table-height-div {
  width: auto;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
}

.asko-table-wrapper {
  width: auto;
  white-space: nowrap;
}

.asko-table {
  table-layout: auto !important;
}

.center-div {
  text-align: center;
}

.resizable {
    overflow: auto;
    resize: both;
    height: 400px;
    width: auto;
    background-position: 0% 0%;
}

.attr-select {
  resize: vertical;
}

div.startpoints-div {
    height: 300px;
    /*width: 30%;*/
    overflow-y: scroll;
    border:1px solid #ccc;
    border-radius: 4px;
    border-top-style: none;
}

div.startpoints-filter-div {
    /*width: 30%;*/
}

label.startpoint-label {
    cursor: pointer;
    display: block;
    margin-left: 5px;
}

.startpoint-radio {
    display:none;
}

input[type="radio"].startpoint-radio:checked+label{
    background-color: #ccc;
}

table.startpoint-table {
  table-layout: fixed;
  width: 100%;
  /*border-collapse: collapse;*/
}

/*.startpoint-table {
  border: 1px solid hotpink;
}*/

td.startpoint-table.cell1 {
  width: 60%;
}

td.startpoint-table.cell2 {
  width: 30%;
}

td.startpoint-table.cell3 {
  width: 10%;
}

.icon-invisible {
    visibility: hidden;
}

div.attribute-box {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;

  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

label.attr-label {
  font-weight: 700;
}

div.attr-icons {
  float: right;
}

i.attr-icon {
  padding-right: 8px;
  cursor: pointer;
}

div.wrap-line {
  white-space: pre-wrap;
} 

.with-plus {
    /*border-color: #dc3545;*/
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("askomics/static/icons/plus-solid.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}



.input-with-icon {
  position: relative;
  box-sizing: border-box;
}

input.input-with-icon {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

button.input-with-icon {
  border: none;
  background: none;
  position: absolute;
  right: 0.3rem;
  top: 0.15rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


/*Context menu *********************************************************/
.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #373a3c;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #373a3c;
  cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

/***********************************************************************/


.react-autosuggest__suggestions-container--open {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  bottom: auto;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  display: block;
  font-size: 14px;
  list-style: none;
  padding: 1px;
  position: absolute;
  text-align: left;
  z-index: 20000;  
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
  min-width: 100px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #0356fc;
  color: #fff;
}
